<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand"href="/" style="color: white;">
        Blog Express
    </a>
        <ul class="navbar-nav">
            <li>    
                <a class="nav-link" href="/" style="color:white;">Home</a>
            </li>

            <%categories.forEach(categories=>{%>  
                <li class="nav-item">
                    <a class="nav-link" href="/category/<%=categories.slug%>" style="color:white;"><%=categories.title%></a>
                </li>
            <%})%>

        </ul> 
</nav>