<%- include('../partials/header.ejs')%>
<body>   
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Realize uma pergunta</h2>
            </div>
            <div class="card-body">
                <form>
                    <label for="">Título</label>
                    <input type="text" class="form-control" placeholder="Título">
                    <label for="">Descrição</label>
                    <input type="text" class="form-control" placeholder="Descrição...">
                    <br>
                    <button class="btn btn-primary">Ok</button>
                </form>
            </div>
        </div>
    </div>    
</body>
<%- include('../partials/footer.ejs')%>       

 
